body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.btn-outline-primary:not([disabled]):not(.disabled):active, .btn-outline-primary:not([disabled]):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
  box-shadow: none !important;
}
